body {
    padding-top: 70px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #131210;
    color: white;
}

.navbar {
    background: rgba(31, 28, 26, 0.60);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
}

.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
    color: white;
}
    .navbar a:hover {
        background-color: #38342f;
        border-radius: 5px;
    }

.nav-center img {
    height: 60px;
    display: block;
}

.login {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(11, 10, 9, 0.60);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(43, 40, 38, 0.60);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 5px rgba(49, 45, 43,0.5);
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(84, 78, 74, 0.60);
        box-shadow: 0px 0px 5px rgba(84, 78, 74,1);
    }